<header class="navbar navbar-dark sticky-top primary-color flex-md-nowrap py-0 shadow m-0">
  <h3 class="navbar-text border-end col-md-3 col-lg-2 me-0 px-3">WorkSmart</h3>
  <div class="py-0 m-0">
    <ul class="list-unstyled d-flex justify-content-end py-0 m-0">
      <li class="navbar-text text-nowrap px-2"><i class="fa-solid fa-bell"></i>
        <span class="d-none">Notifications</span>
      </li>
      <li class="navbar-text text-nowrap px-2"><i class="fa-solid fa-gear"></i>
        <span class="d-none">Settings</span>
      </li>
      <li class="navbar-text py-0 border-start text-nowrap">
        <a class="nav-link px-3" href="#">Sign out</a>
      </li>
    </ul>
  </div>
</header>
