/* Reset  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************************************** Utility Components  *************************************************/
:root {

  /* Colors */
  --color-primary: #38a3a5;
    --color-primary-d: #22577a;

    --color-secondary: #80ed99;
    --color-secondary-d: #57cc99;
    --color-body: #c7f9cc;
    --color-font: #1f363d;
}

body {
  background-color: var(--color-body);
  color: var(--color-font);
}

.main {
  height: 90vh;
}

.padding {
  padding: 1rem 3rem;
}

.primary-color {
  background-color: var(--color-primary-d);
  color: white;
}

.services-item {
  background-color: var(--color-secondary-d);
  border-radius: 10px;
  width: 20rem;
  height: 24rem;
  color: var(--color-font);
}

.services-item i {
  font-size: 5rem;
}

.footer {
  height: 10rem;
}

.footer i {
  font-size: 2.5rem;
}
