<%- layout('layout/dashboard-template')%>

  <!-- RIGHT DASHBOARD RESULTS -->

  <div class="d-flex justify-content-between mb-3">
    <div class="d-flex justify-content-start">
      <div class="img-container">
        <img src="/images/female.png" alt="" class="img-fluid">
      </div>
      <h3>Hi User_id. Welcome back!</h3>
    </div>
    <div class="text-left">
      <% const
        month=["January","February","March","April","May","June","July","August","September","October","November","December"];
        %>
        <% const today=new Date() %>
          <h3> Today is <%= month[today.getMonth()] +' '+today.getDate() +' , '+ today.getFullYear()%> </h3>

          </div>
        </div>

        
        <div class="d-flex justify-content-between">
          <div class="left">
            <div class="box-item mb-5 p-2">
              <h3>Low Stocks</h3>
              <ul>
                <li>product_id - 5 pieces left</li>
                <li>product_id - 5 pieces left</li>
                <li>product_id - 5 pieces left</li>

                <span>View more...</span>
              </ul>
            </div>
            <div class="box-item p-2">
              <h3>For Delivery Today:</h3>
            </div>
          </div>
          <div class="right">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/03/Charts_SVG_Example_7_-_Grouped_Line_Chart.svg" alt="" class="img-fluid">
          </div>
        </div>