/* Reset  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************************************** Utility Components  *************************************************/
:root {
  /* Colors */
  --color-primary: #284b63;
  --color-secondary: #38a3a5;
  --color-secondary-d: #3c6e71;
  --color-body: #d9d9d9;
  --color-font: #353535;

  /* box shadow */
  --box-shadow: 3px 3px 10px 3px grey;
  --box-shadow-small: 1px 1px 5px 1px grey;
}

body {
  background-color: var(--color-body);
  color: var(--color-font);
  font-size: 0.9rem;
}
/* BEAUTIFY THE NAV */

.nav-item {
  margin: 0 1rem;
}

i {
  font-size: 1.2rem;
}

img {
  width: 100%;
}

/* ------- Hompepage ---------------- */

.main {
  height: 90vh;
}

.padding {
  padding: 1rem 3rem;
}

.primary-color {
  background-color: var(--color-primary);
  color: white;
}

.feature-box {
  text-align: center;
  padding: 3%;
  
  
  
  }

.card {
  
  background-color: #38a3a5;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 2rem;
  box-shadow: var(--box-shadow-small);margin: 0 50px;
}
.icon {
  margin: 1rem 0;
  color: var(--color-primary);
}
.icon:hover {
  color: #0c0d0d;
}

.feature-box-p{padding: 5%;

}
.services-item i {
  font-size: 5rem;
  color: var(--color-body);
}
/* ------------- LOGIN PAGE -------------- */
.height {
  height: 85vh;
}

.login-inner {
  width: 35%;
  min-width: 300px;
  height: min-content;
  background-color: white;
  color: var(--color-font);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

/* --------------- DASHBOARD PAGE ------------ */

.nav-item i {
  color: white;
}

.img-container {
  width: 8rem;
  height: 8rem;
}

#sidebarMenu {
  background-color: #d9dcd6;
}

#sidebarMenu li {
  line-height: 2rem;
}

#sidebarMenu i {
  margin-right: 2rem;
  width: 16px;
  height: 16px;
  color: #5d5d5d;
}

#sidebarMenu .nav-link {
  font-weight: 500;
  color: #333;
  vertical-align: text-bottom;
}

.dashboard-main {
  background-color: white;
  right: 0;
}
.left {
  width: 25%;
}

.right {
  width: 73%;
  height: auto;
}

.box-item {
  background-color: #fcfcfc;
  box-shadow: var(--box-shadow-small);
  border-radius: 3px;
  height: 150px;
}

/* --------------- PRODUCTS PAGE ---------------*/

.active {
  z-index: 100;
}

.hidden {
  display: none;
}
/* --------------- PRODUCTS PAGE ---------------*/

.reg-form {
  width: 60%;
  border-radius: 10px;
}
/* --------------- FOOTER --------------------- */
.copyrights {
  text-align: center;
  color: #d9dcd6;
  padding-top: 16px;
}

.footer i {
  font-size: 2.5rem;
}

.footer-icon{
 margin: 0 1rem;margin-bottom: 1rem;
}

.footer1 {
  background-color: #284b63;
  
}
