<%- layout('layout/dashboard-template')%>
<div class="">
  <h1>Products</h1>
  <div class="d-flex justify-content-center align-items-center">
  <h5>Filter by:</h5>
  <ul class="list-unstyled">
    <li class="btn btn-primary px-1 secondary-color">Small Pack</li>
    <li class="btn btn-primary px-1 secondary-color">Big Pack</li>
    <li class="btn btn-primary px-1 secondary-color">Combo Pack</li>
  </ul>
    </div>
  </div>
<div class="results p-3 mb-3">
  <div class="results-item primary-color">

  </div>
  <div class="results-item secondary-color">

  </div>
  <div class="results-item bg-light">

  </div>
</div>

<button class="btn btn-primary">Add new</button>
