<%- layout('layout/dashboard-template')%>
<div class="">
  <h1>Suppliers</h1>
  <div class="d-flex justify-content-center align-items-center">
  <ul class="list-unstyled">
    <li class="btn btn-primary px-1 secondary-color">Small Pack</li>
    <li class="btn btn-primary px-1 secondary-color">Big Pack</li>
    <li class="btn btn-primary px-1 secondary-color">Combo Pack</li>
  </ul>
    </div>
    </div>

<button class="btn btn-primary">Add new</button>
